<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="this.navigationStateService.goBackHistoryOnly()"></ion-back-button>
    </ion-buttons>
    <ion-title class="centered-title">
      {{ account.name }} ({{ currentValue }} {{ account.assetRef.code }})
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div class="ion-padding" style="background: white;" id="outer">
  <div style="text-align:center;" class="ion-padding-bottom">
    <ion-button (click)="presentModalTransaction()">Add single transaction</ion-button>
    <ion-button (click)="presentModalPayment()">Add recurring payment</ion-button>
  </div>
  <ion-content style="flex-grow : 1;">
    <div *ngFor="let x of transfersByDay; index as i">
      <ion-text color="medium">{{ DateUtils.relevantDate(x[0][0], accountNumber) | date:'longDate'}}</ion-text>
      <ion-card button="true" (click)="presentModalModifyTransaction(i, j)" *ngFor="let t of x; index as j">
        <ion-grid class="--ion-grid-padding: 0px;">
          <ion-row class="ion-align-items-center">
            <ion-col>
              <div class="ion-text-left">
                <ion-label color="medium">{{ DateUtils.relevantDate(t[0], accountNumber) | date:'shortTime'}}</ion-label>
              </div>
            </ion-col>
            <ion-col>
              <div class="ion-text-center">
                <ion-label color="dark">{{ nonNullLabel(t) }}</ion-label>
              </div>
            </ion-col>
            <ion-col class="ion-text-right">
              <ion-badge [color]="MathsUtils.negative(MathsUtils.relevantAmount(t[0], accountNumber)) ? 'danger' : 'success'">
                {{ formattedAmount(t[0]) }}</ion-badge>
              <ion-badge color="light" style="font-weight:normal;"> = {{ t[1] }}</ion-badge>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </div>
  </ion-content>
</div>