<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismissItself()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="centered-title">
      Add transaction
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="addTransactionForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label>(Optional) Label:</ion-label>
      <ion-input class="ion-text-end" formControlName="labelOfTransaction"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Date:</ion-label>
      <ion-datetime formControlName="dateOfTransaction"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Value:</ion-label>
      <ion-input class="ion-text-end" formControlName="valueOfTransaction"></ion-input>
    </ion-item>
    <ion-button type="submit" [disabled]="!addTransactionForm.valid">Add</ion-button>
  </form>
</ion-content>