<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismissItself()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="centered-title">
      {{ goalModify ? 'Modify' : 'Add' }} transaction
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="addTransactionForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label>(Optional) Label:</ion-label>
      <ion-input class="ion-text-end" formControlName="labelOfTransaction"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Date:</ion-label>
      <ion-datetime formControlName="dateOfTransaction" displayFormat="D MMM YYYY H:mm"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>I spent:</ion-label>
      <ion-input inputmode="decimal" class="ion-text-end" formControlName="valueOfTransaction"></ion-input>
      {{ '&nbsp;'+userDataService.accounts[accountNumber].assetRef.code }}
    </ion-item>
    <div style="text-align:center;">
      <ion-button type="submit" [disabled]="!addTransactionForm.valid">{{ goalModify ? 'Save' : 'Add' }}</ion-button><br />
      <ion-button [hidden]="!goalModify || trxId===-1" (click)="confirmDelete()" >Delete transaction</ion-button>
    </div>
  </form>
</ion-content>