<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="this.navigationStateService.goBackHistoryOnly()"></ion-back-button>
    </ion-buttons>
    <ion-title class="centered-title">
      Accounts
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div style="text-align: center;">
    <div *ngIf="listAccounts!==undefined">
      <div *ngFor="let account of listAccounts; index as i">
        <ion-button [routerLink]="['/account-overview/',i]">{{ account.name }} account</ion-button><br />
      </div>
    </div><br />
    <ion-button (click)="presentModal()">Add account</ion-button>
  </div>
</ion-content>