<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismissItself()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="centered-title">
      Add account
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="addAccountForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label>Name:</ion-label>
      <ion-input class="ion-text-end" formControlName="nameOfAccount"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Type:</ion-label>
      <ion-select formControlName="currencyType" (ionChange)="toggleCurrencyType()" placeholder="Select">
        <ion-select-option value="fiat">Fiat money (Regular)</ion-select-option>
        <ion-select-option value="crypto">Cryptocurrency</ion-select-option>
      </ion-select>
    </ion-item>
    <div [hidden]='addAccountForm.controls.currencyType.value===undefined || addAccountForm.controls.currencyType.value===""'>
      <ion-item [hidden]='addAccountForm.controls.currencyType.value!=="fiat"'>
        <ion-label>Currency:</ion-label>
        <ion-select placeholder="Select" formControlName="fiatChoice" >
          <ion-select-option *ngFor="let code of fiatCurrencies | keyvalue" [value]="code.key">{{ code.key }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item [hidden]='addAccountForm.controls.currencyType.value!=="crypto"'>
        <ion-label>Currency:</ion-label>
        <ion-select placeholder="Select" formControlName="cryptoChoice" >
          <ion-select-option *ngFor="let code of cryptoCurrencies" [value]="code.symbol">{{ code.symbol | uppercase }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Current value:</ion-label>
        <ion-input class="ion-text-end" formControlName="currentValue" ></ion-input>
      </ion-item>
    </div>
    <ion-button type="submit" [disabled]="!addAccountForm.valid">Add</ion-button>
  </form>
</ion-content>